<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type='text/css'>.nextpage {padding-left:2px; padding-right:2px; color: black; box-shadow: 0 1px 3px; text-decoration: none; width: 100px; text-align:center; background-color: lightgray; font-family:Courier}  .diff {font-family:Courier; border: solid 1px black} .diff td:nth-child(3) {cursor:pointer} .diff td:nth-child(6) {cursor:pointer} .diff_header {background-color:#e0e0e0} td.diff_header {text-align:right; width:10px;} .diff_next {display: none;} .diff_add {background-color:#aaffaa} .diff_chg {background-color:#ffff77} .diff_sub {background-color:#ffaaaa}</style>
</head>
<body>
<div style="display:flex; flex-direction:column">
<div id="header"><h2>MESH Indexing Tracker</h2>
<p>Records from 2026 PubMed baseline that underwent changes to indexing method and at least one MESH since the baseline was released.</p>
<p>Records can be filtered by using the search button below. Leave blank and click search for all records.</p>
<p>Displays tables for 5000 retrieved records at a time. Click "Next Page" to view additional tables.</p>
<p>If searching for more than one PMID separate the list using semicolons and no spaces</p></div>
<div id="inputform">
<form action="{{ url_for("indexingchanges", page=1)}}" method="get" enctype="multipart/form-data">
<label for="PMID">PMID</label>  <input min="0" value="{{PMID}}" type="text" id="PMID" name="PMID" style="margin-top:5px; border; 0; font-size:.6em;" placeholder="type a PMID">
<br><label for="MESH">MESH</label>  <input type="text" id="MESH" name="MESH" list="MESHlist" placeholder="Type to search..." autocomplete="off" style="margin-top:5px; border; 0; font-size:.6em;"><datalist id="MESHlist">{{ MESHOptions | safe }}</datalist></input> 
<br><label for="Explode">Explode</label><input type="checkbox" id="Explode" name="Explode">
<br><label for="Qualifier">MESH Qualifier</label>  <select id="Qualifier" name="Qualifier" style="margin-top:5px; border; 0; font-size:.6em;">{{ QualifierOptions | safe }}</select> 
<br><label for="Indexing">Revised Indexing Method</label>  <input min="0" type="text" value="{{Indexing}}" id="Indexing" name="Indexing" style="margin-top:5px; border; 0; font-size:.6em;" placeholder="enter indexing type">
<br><br><div><button class="FilterButton" type="submit">Search</button>
</div>
</form>
</div>
<div style="font-family:courier;">Total records retrieved: {{ totalrecords }}</div>
<div id="legendsection" style="display:inline-flex; flex-direction: rows; font-family:courier;"><div><h3>Legend</h3><table border='' style='width:150px' summary='Colors'><tr><th>Colors</th></tr><tr><td class='diff_add' style='text-align:center'>&nbsp;Added&nbsp;</td></tr><tr><td class='diff_chg' style='text-align:center'>Changed</td></tr><tr><td class='diff_sub' style='text-align:center'>Deleted</td></tr></table></div>
<div style="margin-left:30px;"><h3>Record Change Totals</h3>
<span style="font-family:courier;">Total of MESH changes in the records identified by the query</span>
<table id='difftotals' style="font-family:courier; margin-top:10px;"><tr><td>Total added: </td><td id='addedtotal'>{{ addedtotal }}</td></tr><tr><td>Total deleted: </td><td id='deletedtotal'>{{ removedtotal }}</td></tr><tr><td>Total unchanged: </td><td id='changedtotal'>{{ unchangedtotal }}</td></tr></table></div>
<div style="margin-left:30px;"><h3>MESH Change Totals</h3><span style="font-family:courier;">Total changes to the specific MESH searched in records identified by the query</span><table id='diffmeshtotals' style="font-family:courier; margin-top:10px;"><tr><td>Total added: </td><td id='meshaddedtotal'>{{ meshadded }}</td></tr><tr><td>Total deleted: </td><td id='meshdeletedtotal'>{{ meshremoved }}</td></tr><tr><td>Total unchanged: </td><td id='meshunchangedtotal'>{{ meshunchanged }}</td></tr></table></div></div>
<div style="{{ NextPageLink }}"><a class="nextpage" href="{{ url_for('indexingchanges', page=page+1, MESH=MESHFilter, PMID=PMIDFilter, Indexing=IndexingFilter, Qualifier=QualifierFilter, Explode=ExplodeFilter) }}">Next Page</a></div>
<div id="difftables">{{DiffHTML | safe }}</div>
<div class="footer">
<div class="copyright">
<p class="copyright" style="font-size:1em; font-family: Calibri;">© Copyright 2026 Tyler Ostapyk</p>
</div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
const MESHinput = document.getElementById('MESHFilter');
MESHinput.addEventListener('change', function () {
    const MESHdatalist = this.list;
    const matchFound = Array.from(MESHdatalist.options).some(option => option.value === this.value);
    if (matchFound) {
      this.setCustomValidity('');
    } else {
      this.setCustomValidity('Not a MESH. Please select a MESH heading from the list.'); // Triggers native error UI
    }
  });
$(document).ready(function() {
    $('table.diff td:nth-child(3)').on('click', function() {
        var MESHTerm = $(this).text();
		var url = "https://www.ncbi.nlm.nih.gov/mesh?Db=mesh&Cmd=DetailsSearch&Term=" + MESHTerm
		if (url.includes("--")) {
			var url = url.split("--")[0];
		}
        if (url) {
            window.open(url, '_blank').focus(); 
        }
    });
$('table.diff td:nth-child(6)').on('click', function() {
        var MESHTerm = $(this).text();
		var url = "https://www.ncbi.nlm.nih.gov/mesh?Db=mesh&Cmd=DetailsSearch&Term=" + MESHTerm
		if (url.includes("--")) {
			var url = url.split("--")[0];
		}	
        if (url) {
            window.open(url, '_blank').focus(); 
        }
    });
});
	//$(document).ready(function() {
//var removedtotal = 0;
//var addedtotal = 0;
//var unchangedtotal = 0;
	//$('[id="removedvalue"]:visible').each(function() {
		//var removedvalue = parseFloat($(this).text());
			//if (!isNaN(removedvalue)) {
			//removedtotal += removedvalue;
			//}
		//});
	//$('[id="addedvalue"]:visible').each(function() {
        //var addedvalue = parseFloat($(this).text());
            //if (!isNaN(addedvalue)) {
                //addedtotal += addedvalue;
                //}
            //});
   // $('[id="unchangedvalue"]:visible').each(function() {
        //var unchangedvalue = parseFloat($(this).text());
        //if (!isNaN(unchangedvalue)) {
           // unchangedtotal += unchangedvalue;
           // }
        //});
    //$('#deletedtotal').text(removedtotal);
    //$('#addedtotal').text(addedtotal);
    //$('#changedtotal').text(unchangedtotal);
    //var HTMLinput = $('#MESHFilter').val();
	//console.log(HTMLinput)
    //var removedtotal = 0;
    //var addedtotal = 0;
    //var unchangedtotal = 0;
    //$('[id="removedvalue"]:visible').each(function() {
        //var removedvalue = parseFloat($(this).text());
         //if (!isNaN(removedvalue)) {
            //removedtotal += removedvalue;
            //}
        //});
    //$('[id="addedvalue"]:visible').each(function() {
        //var addedvalue = parseFloat($(this).text());
            //if (!isNaN(addedvalue)) {
            //addedtotal += addedvalue;
            //}
        //});
    //$('[id="unchangedvalue"]:visible').each(function() {
        //var unchangedvalue = parseFloat($(this).text());
        //if (!isNaN(unchangedvalue)) {
            //unchangedtotal += unchangedvalue;
            //}
        //});
   // var removedmeshtotal = "N/A";
   // var addedmeshtotal = "N/A";
    //var unchangedmeshtotal = "N/A";
	//if (HTMLinput !== "") {
		//HTMLinput = HTMLinput.toLowerCase()
		//console.log(HTMLinput)
		//var removedmeshtotal = 0;
		// var addedmeshtotal = 0;
		//var unchangedmeshtotal = 0;
		//$('[class="diff_sub"]:visible').each(function() {
			//var removedmeshcontent = $(this).text()
			//var removedmeshcontent = removedmeshcontent.toLowerCase()
			//var removedmeshcontent = removedmeshcontent.replaceAll('\u00A0', ' ');
			//if(removedmeshcontent.trim().includes(HTMLinput)) {
				//removedmeshtotal += 1;
			//};
		//});
		//$('td:nth-child(6):visible').each(function() {
			//var unchangedmeshcontent = $(this).text()
			//var unchangedmeshcontent = unchangedmeshcontent.toLowerCase()
			//var unchangedmeshcontent = unchangedmeshcontent.replaceAll('\u00A0', ' ');
			//if(unchangedmeshcontent.trim().includes(HTMLinput)) {
				//unchangedmeshtotal += 1;
				//console.log(unchangedmeshcontent)
				//console.log(HTMLinput)
				//console.log("unchangedmatch")
				//console.log(unchangedmeshtotal)
			//};
		//});
		//$('[class="diff_add"]:visible').each(function() {
			//var addedmeshcontent = $(this).text()
			//var addedmeshcontent = addedmeshcontent.toLowerCase()
			//var addedmeshcontent = addedmeshcontent.replaceAll('\u00A0', ' ');
			//if(addedmeshcontent.trim().includes(HTMLinput)) {
			//	addedmeshtotal += 1;
			//	};
			//});
		//unchangedmeshtotal = unchangedmeshtotal;
	//};
	//$('#meshdeletedtotal').text(removedmeshtotal);
	//$('#meshchangedtotal').text(unchangedmeshtotal);
	//$('#meshaddedtotal').text(addedmeshtotal);
	//$('#deletedtotal').text(removedtotal);
	//$('#addedtotal').text(addedtotal);
	//$('#changedtotal').text(unchangedtotal);
//});
</script>
</body>
</html>
